<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRAT</title>
    <style>
        body
        {
          background: linear-gradient(45deg,rgb(241, 15, 15),black);
          
          background-size: cover; 
        }
        h1
        {
            color: aliceblue;
        }
    </style>
</head>
<body>
    <center style="font-size: 50px;">
        <h1>
            <b>KING 18</b>
        </h1>
        <h1>
            RUN MACHINE
        </h1>
    </center>
</body>
</html>